Repository JounQin/eslint-import-resolver-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "tests/**/*.{js,json,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "src/*.{js,ts}": [
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "eslint --fix",
    "git add"
  ]
}

chore: add missing codechecks configuration file
  .renovaterc
  codechecks.yml
  package.json
  yarn.lock
Due: none

ci: try to fix test error on CI due to glob
  .eslintrc.js
  .github/workflows/nodejs.yml
  .travis.yml
  package.json
  src/.eslintrc.js
  yarn.lock
Due: eslint --fix

feat: add support of .jsx to be used with `allowJs`
  package.json
  src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix

chore(release): 0.4.1
  CHANGELOG.md
Due: eslint --fix

fix: eslint-import-resolver-ts itself should be devDependencies
  .github/workflows/nodejs.yml
  package.json
Due: none

chore(release): 0.4.2
  CHANGELOG.md
Due: eslint --fix

chore: rename to eslint-import-resolver-ts
  package.json
  src/index.ts
  tests/baseEslintConfig.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: bump (dev)Dependencies
  .gitignore
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix

chore(release): 0.5.0
  CHANGELOG.md
Due: eslint --fix
